<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/index.css">
    <title>About</title>
</head>
<body>
    <div class="navContainer navContainer-move-left" id="navContainer">
        <nav>
            <ul>
                <li id="nav1" class="slide-out-1"><a href="index">Home</a></li>
                <li id="nav2" class="slide-out-2"><a href="favourites">Favourites</a></li>
                <li id="nav3" class="slide-out-3"><a href="nft">My NFT's</a></li>
                <li id="nav4" class="slide-out-4"><a href="about">About</a></li>
                <li id="nav5" class="slide-out-5"><a href="#Contact">Extra</a></li>
            </ul>
        </nav>
    </div>
</body>
<script src="public/js/index.js"></script>
</html>