<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <title>Navigation</title>
    <link rel="stylesheet" href="public/css/index.css">
</head>
<body>
<!-- navigation container -->
    <div class="navContainer navContainer-move-left" id="navContainer">
        <nav>
            <ul>
                <li id="nav1" class="slide-out-1"><a href="#home">Home</a></li>
                <li id="nav2" class="slide-out-2"><a href="#About">About</a></li>
                <li id="nav3" class="slide-out-3"><a href="#Projects">Projects</a></li>
                <li id="nav4" class="slide-out-4"><a href="#Work">Work</a></li>
                <li id="nav5" class="slide-out-5"><a href="#Contact">Contact</a></li>
            </ul>
        </nav>
    </div>

    <!-- navigation bars -->

    <div class="navBar" id="navBar">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>

    <!-- sections -->
    <section id="home"><h1>Responsive Animated Navigation</h1></section>

    <!-- scripts -->
    <script src="public/js/index.js"></script>
</body>
</html>