<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public/CSS/login.css">
  <title>Document</title>
</head>

<body>
  <div class="register login">
    <form class="form" action="/" method="post">
          <input placeholder="Enter Your First Name" type="text" name="First" id="">
          <input placeholder="Enter Your Email" type="text" name="Email" id="">
          <input placeholder="Enter Your Password" type="text" name="Password" id="">
          <button type="submit">Login</button>
    </form>
  </div>
</body>

</html>