<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBVS Music- NFTs</title>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/3e1592cc6b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="public/css/style1.css">
    <link rel="stylesheet" href="public/css/swiper-bundle.min.css">
</head>
<body>

    <div class="progress">
        <div class="progressbar" id="scroll-bar">
        </div>
    </div>
    <header>
        <div class="nav container">
            <a href="#" class="logo">NFT<span>Stores</span></a>
            <div class="nav-icons">
                <i class="bx bx-bell bx-tada" id="bell-icon"><span></span></i>
                <i class="bx bxs-download"></i>
                <div class="menu-icon">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
            <div class="menu">
                <img src="public/assets/img/imgone.jpg" >
                <div class="navbar">
                    <li><a href="nft.html">Home</a></li>
                    <li><a href="#trending">Trending</a></li>
                    <li><a href="#new">New</a></li>
                    <li><a href="#contact">Contact</a></li>
                </div>
            </div>
            <div class="notification">
                <div class="notification-box">
                    <i class="bx bxs-check-circle"></i>
                    <p>Congratulations! Your NFTs have reached 10k mints!</p>
                </div>
                <div class="notification-box box-color">
                    <i class="bx bx-x-circle"></i>
                    <p>Could not apply changes!</p>
                </div>
            </div>
        </div>
    </header>

    <section class="home-container" id="home">
        <div class="home-text">
            <h1>MUSIC NFT<BR> MARKETPLACE</h1>
            <a href="#" class="btn">Earn from music now</a>
        </div>
        <img src="public/assets/img/medium-shot-man-wearing-vr-glasses.jpg">
    </section>

    <section class="trending container" id="trending">
        <div class="heading">
            <i class="bx bxs-flame"></i>
            <h2>Trending NFT</h2>
        </div>
        <div class="trending-content swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="box">
                        <img src="public/assets/img/SL_123119_26540_39(4).jpg">
                        <div class="box-text">
                            <h2>StereoheadZ Music Club</h2>
                            <h3>Trending</h3>
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.7</span>
                            </div>
                            <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="box">
                        <img src="public/assets/img/3072469.jpg">
                        <div class="box-text">
                            <h2>Oksami</h2>
                            <h3>Trending</h3>
                            <div class="rating-download">
                                <div class="rating">
                                    <i class="bx bxs-star"></i>
                                    <span>4.5</span>
                                </div>
                                <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="box">
                        <img src="public/assets/img/3425171.jpg">
                        <div class="box-text">
                            <h2>Eulerbeats Genesis</h2>
                            <h3>Trending</h3>
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.5</span>
                            </div>
                            <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="box">
                        <img src="public/assets/img/48823766342717.jpg">
                        <div class="box-text">
                            <h2>Ocarinas</h2>
                            <h3>Trending</h3>
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.5</span>
                            </div>
                            <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="box">
                        <img src="public/assets/img/48823766342717.jpg">
                        <div class="box-text">
                            <h2>Dreamloops</h2>
                            <h3>Trending</h3>
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.5</span>
                            </div>
                            <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="box">
                        <img src="public/assets/img/SL_123119_26540_39(4).jpg">
                        <div class="box-text">
                            <h2>StereoheadZ Music Club</h2>
                            <h3>Trending</h3>
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.7</span>
                            </div>
                            <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="box">
                        <img src="public/assets/img/48823766342717.jpg">
                        <div class="box-text">
                            <h2>Dreamloops</h2>
                            <h3>Trending</h3>
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.5</span>
                            </div>
                            <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="box">
                        <img src="public/assets/img/48823766342717.jpg">
                        <div class="box-text">
                            <h2>Ocarinas</h2>
                            <h3>Trending</h3>
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.5</span>
                            </div>
                            <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="box">
                        <img src="public/assets/img/3425171.jpg">
                        <div class="box-text">
                            <h2>Eulerbeats Genesis</h2>
                            <h3>Trending</h3>
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.5</span>
                            </div>
                            <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="box">
                        <img src="public/assets/img/2259389.jpg">
                        <div class="box-text">
                            <h2>Oksami- Wavelength</h2>
                            <h3>Trending</h3>
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.5</span>
                            </div>
                            <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="new container" id="new">
        <div class="heading">
            <i class="bx bx-infinite"></i>
            <h2>Latest NFT</h2>
        </div>
        <div class="new-content">
            <div class="box">
                <img src="public/assets/img/closeup-woman-vr-glasses-float-neon-space-with-cables-attached-her-metaverse-avatar-concept.jpg">
                <div class="box-text">
                    <h2>Sango Beats</h2>
                    <h3>Latest</h3>
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.5</span>
                    </div>
                    <a href="download.html" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="public/assets/img/man-wearing-smart-glasses-touching-virtual-screen-futuristic-technology-digital-remix.jpg">
                <div class="box-text">
                    <h2>Audioglyphs</h2>
                    <h3>Latest</h3>
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.5</span>
                    </div>
                    <a href="download.html" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="public/assets/img/2862666.jpg">
                <div class="box-text">
                    <h2>Snoop Doggs</h2>
                    <h3>Latest</h3>
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.5</span>
                    </div>
                    <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="public/assets/img/closeup-woman-vr-glasses-float-neon-space-with-cables-attached-her-metaverse-avatar-concept.jpg">
                <div class="box-text">
                    <h2>Ape Drops 03: An 8th</h2>
                    <h3>Latest</h3>
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.5</span>
                    </div>
                    <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="public/assets/img/2862666.jpg">
                <div class="box-text">
                    <h2>Song A Day</h2>
                    <h3>Latest</h3>
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.5</span>
                    </div>
                    <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="public/assets/img/man-wearing-smart-glasses-touching-virtual-screen-futuristic-technology-digital-remix.jpg">
                <div class="box-text">
                    <h2>The Orbs by BT</h2>
                    <h3>Latest</h3>
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.5</span>
                    </div>
                    <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="public/assets/img/closeup-woman-vr-glasses-float-neon-space-with-cables-attached-her-metaverse-avatar-concept.jpg">
                <div class="box-text">
                    <h2>DAOrecords</h2>
                    <h3>Latest</h3>
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.5</span>
                    </div>
                    <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="public/assets/img/2862666.jpg">
                <div class="box-text">
                    <h2>Rave Pigs</h2>
                    <h3>Latest</h3>
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.5</span>
                    </div>
                    <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
                </div>
            </div>
        </div>
        <div class="next-page">
            <a href="#">Next Page</a>
        </div>
    </section>

    <div class="copy-right container">
        <a href="#" class="logo">NFT<span>Store</span></a>
        <p>&#169; Team NBVS. All rights reserved.</p>
    </div>
    <script src="public/js/swiper-bundle.min.js"></script>
    <script src="public/js/index1.js"></script>
</body>
</html>