<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="public/CSS/register.css">
</head>

<body>
  <div class="register">
    <form class="form" action="/signup" method="post">
      <input placeholder="Enter Your First Name" type="text" name="Name" id="">
      <input placeholder="Enter Your Email" type="text" name="Email" id="">
      <input placeholder="Enter Your Phone" type="text" name="Phone" id="">
      <input placeholder="Enter Your Password" type="text" name="Password" id="">
      <button type="submit">Register</button>
    </form>
  </div>
</body>

</html>